.block-info-project {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  font-family: 'NotoSansRegular';

  .block-info-project__name-project {
    font-size: 20px;
  }

  span, .body-info__description-text {
    font-family: 'NotoSansBold';
  }

  .block-info-project__body-info {
    font-size: 14px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .block-info-project__block-date {
      display: flex;
      gap: 30px;
      justify-content: space-between;
      .body-info__date-start, .body-info__date-end {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }
    .block-info-project__block-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .body-info__description-text {
        word-break: break-all;
      }
    }
    .files-projects {
      display: flex;
      flex-wrap: wrap;
    }

  }



  .block-info-project__wrapper {
    padding: 15px;
  }
}