.title {
    font-size: 24px;
    font-family: 'NotoSansBold';
}

.projectList__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.projectList__wrapper {
    padding-top: 20px;
    position: relative;
}

.btnBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.btnAddProject {
    background-color: #44d8ff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    padding: 5px 20px;
    font-family: 'NotoSansBold';
}

.btnFilter {
    background-color: #44d8ff;
    border: none;
    border-radius: 5px;
    padding: 4px;

   font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
}

.group-btn-filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-clear {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #6e6e6e;
}