img {
    max-width: 190px;
    margin: 20px 0;
}

.authorization {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'NotoSansBold';
    font-size: 16px;
}

.authorization_footer {
    display: flex;
    align-items:center;
    margin-top: 8px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #44d8ff;
}

h5 {
    margin-right: 12px;
}

h2 {
    margin-bottom: 20px;
}

label, input {
    margin-bottom: 12px;
}

input {
    height: 35px;

    border-radius: 4px;
    border: 1px solid #919191;
}

input:focus {
    width: 100%;
    outline: none;
    background-color: #fff;
    border-color: #44d8ff;
}

input[type="text"]{
    width: 100%;
    padding-left: 10px;
    background-color: #fff;
    font-size: 16px;
    font-family: 'NotoSansRegular';
}

form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.btn-submit {
    margin: 15px auto;
    padding: 8px 30px;

    border: none;
    border-radius: 5px;
    
    font-size: 16px;
    font-family: 'NotoSansBold';
    color: #fff;
    background-color: #44d8ff;
    cursor: pointer;
}

@media screen and (max-width:383px){
    img {
        max-width: 120px;
    }
}